# Répertoire var/
var/

# Répertoire vendor/
vendor/

# Fichiers de configuration sensibles
.env
.env.local
.env.*.local

# Cache et logs
/var/cache/
/var/log/

# Fichiers de débogage
.phpunit.result.cache

# Fichiers d'IDE
.idea/
.vscode/

# Fichiers de déploiement
/.env.prod.local
